DOMAIN='DC=samdom,DC=example,DC=com'
BASE_OU='OU=Isaac Newton,${DOMAIN}'
MEMBERS_OU='OU=Members,${BASE_OU}'
COMMITTEES_OU='OU=Committees,${BASE_OU}'

ADMIN_DN='CN=Administrator,CN=Users,${DOMAIN}'
ADMIN_PW='keepsecret'

CONGRESSUS_API_BASE_URL='https://api.congressus.nl/v30'
CONGRESSUS_API_KEY=''
CONGRESSUS_API_COMMITTEE_FOLDER_ID=123
