BASE_OU='DC=samdom,DC=example,DC=com'
MEMBERS_OU=''
COMMITTEES_OU=''

ADMIN_DN=''
ADMIN_PW=''

CONGRESSUS_API_BASE_URL='https://api.congressus.nl/v30'
CONGRESSUS_API_KEY=''
CONGRESSUS_API_COMMITTEE_FOLDER_ID=
